@import 'foundation';

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(54, 89, 99, 1)
}
.row {
  min-width: 100%;
}

@media only screen and (max-width: 40em) {
  .slider img {
    height: 12em;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .slider img {
    height: 14em;
  }
}

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .slider img {
    height: 20em;
  }
}

.full-width {
  margin-bottom: 10px;
  width: 100%;
  max-width: 100%;
  .columns {
    padding: 0px !important;
    width: 100%;
    header, footer, nav {
      width: 100%;
    }
  }
}

.panel{
  background-image:url('/img/concrete_wall_2.png') !important;
}

.sub_border {
  padding: 8px;
}

.sub_content {
  background-color: rgba(217, 206, 181, .4) !important;
  p, img {
    padding: 4px;
  }
}

// SMALL UP RESOLUTION
@media only screen and (max-width: 40em) {
  .sub_border {
    margin-top: 10px;
    border-bottom: 1px solid gray;
  }
}

// MEDIUM UP RESOLUTION
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .sub_border {
    margin-top: 10px;
    border-bottom: 1px solid gray;
  }
}

// LARGE UP RESOLUTION
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .middle_sub_content {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }
}

