@import '../bower_components/foundation/scss/normalize';
@import '../bower_components/foundation/scss/foundation/settings';
@import '../bower_components/foundation/scss/foundation';
// Font Imports

// End Font Imports

$bg-color: #000302;
$border-color: #333333;
$bg-texture:url(http://www.transparenttextures.com/patterns/wood.png);
$h1-color: rgb(89,210,9);
html, body{
  height: 100%;
  width:100%;
}
body{
  background-color: $bg-color;
  background-image: $bg-texture;
}
h1, h2, h3, h4, h5, h6, {
  color: $h1-color !important;
}

#lowdownLogo{
  width: 50%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 10px;
}

#lowdownTeam{
  width: 100%;
  margin: 0 auto;
  height: auto;
  margin-bottom: 12px;
  img{
    width: 100%;
    height: auto;
  }
}

#saleLogo{
  width: 20%;
  height: auto;
  position: absolute;
  left: 1%;
  z-index: 20;
}

#pageWrap{
  @media #{$large-only} {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
#goodsWrap{
  background-color: $bg-color;
  background-image: $bg-texture;
}

#offersWrap{
  width: 100%;
  height: auto;
}

#logoContainer{
  width: 90%;
  margin-left: 10%;
  position: absolute;
  top: 78%;
  .logo{
    display: inline-block;
    img{
    }
  }
}

#map-canvas{
  width: 100%;
}

#contactColor{
  background-color: white;
  padding: 5px;
}
#contactInfo{
  height: auto;
}

#topContent{

}
#contactContentAnchor, #map{
  padding-top: 25px;
}

#contactContent{
  p{
    font-size: 14px;
  }
}


#color{
  // background-color:rgba(52,69,81,1);
  background-color: $bg-color;
  background-image: $bg-texture;

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  height: 100%;
  width: 100%;
}

#nav_fader, nav{
  z-index: 100;
}

footer{
  border-top: 1px solid $border-color;
  background-color: $border-color;
  border-left: 2px solid $h1-color;
}

#nav_hoist{
  position: relative;
  bottom: 45px;
  margin-bottom: -45px;
}

.panel{
  text-align: center;
  background-color: #4d4d4d !important;
  background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png) !important;
  border-left: 2px solid $h1-color;
  // border-bottom: 1px solid $h1-color;
  border-top: 1px solid $border-color;
  border-bottom: 3px solid $border-color;
  border-right: 1px solid $border-color;
}

#iframeContainer{
  height: 100%;
  width:100%;
  padding: 0;
  margin:0;
  border-left: 2px solid $h1-color;
  border-top: 1px solid $border-color;
  border-bottom: 3px solid $border-color;
  border-right: 1px solid $border-color;
}

#headWrap{
  height:100%;
  width:100%;
  position:fixed;
  z-index: 8;
  bottom: 45px;
  margin-bottom: -45px;

}

img.th{
  padding-bottom: 2px;
}

#mainWrap{
  height:100%;
  width:100%;
  position:relative;
  z-index: 9;
  background-color: $bg-color;
  background-image: $bg-texture;
  bottom: 45px;
  margin-bottom: -45px;
  padding-top: 25px;
  border-top: 3px solid $h1-color;
  box-shadow: 0 0 0 20px #4d4d4d;


}


#parallax_container{
  height:rem-calc(760px);
  z-index: 6;
  position: relative;
}
#parallax{
  height: 100%;
  width: 100%;
  position: inherit;

  #parallax_content_1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: hidden;
    img{
      display: inherit;
    }
  }

    #parallax_content_2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    display: hidden;
    img{
      display: inherit;
    }

  }

    #parallax_content_3{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    display: hidden;
    img{
      display: inherit;
    }
  }

    #parallax_content_4{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    // background-image: linear-gradient(45deg, rgba(136,167,13,.5) 0%,rgba(28,186,0,.6)  50%, rgba(0,186,143,.5) 100%);
    // background-color: rgba(28,186,0,.7);
    z-index: 4;
  }

  #parallax_content_5{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 5;
  }
}

.sub_content {
  text-align: center;
  height: 100% !important;

  img{
    display: block;
    margin: 0 auto;
  }
  h3{

  }
  section{
    p{
      font-size: 18px;
    }
  }
}

