@import '../bower_components/foundation/scss/normalize';
@import '../bower_components/foundation/scss/foundation/settings';
@import '../bower_components/foundation/scss/foundation';
// Font Imports

// End Font Imports

html, body{
  background-color:rgba(83, 123, 128, .8);
}

footer{
  border-top: 1px solid gray;
  background-color: gray;
}


#offset{
  margin-top: rem-calc(-45px);
}
#parallax_container{
  height:rem-calc(600px);
  z-index: 5;
  position: inherit;
  margin-bottom: 30px;
  border-bottom: 20px solid gray;
}

#parallax{
  height: 100%;
  width: 100%;
  position: inherit;


  #parallax_content_1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    background-image:url('/img/eastSideHEADER1.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: hidden;
  }

    #parallax_content_2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    background-image:url('/img/eastSideHEADER2.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: hidden;

  }

    #parallax_content_3{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    background-image:url('/img/eastSideHEADER3.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: hidden;
  }

    #parallax_content_4{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(45deg, rgba(35,81,84,.9) 0%, rgba(61,24,51,.5) 50%, rgba(198,45,61,.5) 100%);
    z-index: 4;
  }
}

.sub_content {
  text-align: center;
  color: white;
  img{
    display: block;
    margin: 0 auto;
  }
  h3{
  color: white;
  }
  section{
    p{
      font-size: 18px;
    }
  }
}





//---Code For Header Parallax Rev 1

  // #logo{
  //   position: relative;
  //   display: block;
  //   width: 30%;
  //   height: 30%;
  //   top: 30%;
  //   left: 37%;
  //   background: url('/img/logo_gamma.png');
  //   background-size: contain;
  //   background-repeat:no-repeat;
  // }

  // #glyph{
  //   height: 10%;
  //   width: 10%;
  //   display: block;
  //   background: url('/img/bike_glyph.png');
  //   background-size: contain;
  //   background-repeat:no-repeat;
  //   position: relative;
  //   top: 56%;
  //   left: 47.5%;
  //   opacity: 50%;
  // }

  // .divider_container_bottom{
  //   width:100%;
  //   text-align: center;
  //   position: relative;
  //   overflow: hidden;
  //   :nth-child(1){
  //     margin-right: 5%;
  //   }
  //   :nth-child(2){
  //     margin-left: 5%;
  //   }
  //   .mini_divider_bottom{
  //     width: 40%;
  //     height: rem-calc(2px);
  //     position: relative;
  //     display: inline-block;
  //     background-color: gray;
  //   }
  // }

  //   .divider_container_top{
  //   width:100%;
  //   text-align: center;
  //   position: relative;
  //   overflow: hidden;
  //   :nth-child(1){
  //     margin-right: 5%;
  //   }
  //   :nth-child(2){
  //     margin-left: 5%;
  //   }
  //   .mini_divider_top{
  //     width: 30%;
  //     height: rem-calc(2px);
  //     position: relative;
  //     display: inline-block;
  //     background-color: gray;
  //   }
  // }

