@import '../bower_components/foundation/scss/normalize';
@import '../bower_components/foundation/scss/foundation/settings';
@import '../bower_components/foundation/scss/foundation';
// Font Imports

// End Font Imports

html, body{
  height: 100%;
  width:100%;
}

#map-canvas{
  height: 500px;
  width: 100%;
}

#contactColor{
  background-color: white;
  padding: 5px;
}
#contactInfo{
  height: 500px;
}

#topContent{
  margin-bottom:15px;
}
#contact_content{
  margin-top: 25px;
}
h1, h2, h3, h4, h5, h6, p {
  color: white;
}

#color{
  background-color:rgba(52,69,81,1);
}

#nav_fader, nav{
  z-index: 100;
}

footer{
  border-top: 1px solid gray;
  background-color: gray;
}

#nav_hoist{
  position: relative;
  bottom: 45px;
  margin-bottom: -45px;
}

.panel{
  text-align: center;
}

#headWrap{
  height:100%;
  width:100%;
  position:fixed;
  z-index: 8;
  bottom: 45px;
  margin-bottom: -45px;

}

img.th{
  padding-bottom: 2px;
}

#mainWrap{
  height:100%;
  width:100%;
  position:relative;
  z-index: 9;
  background-color:rgba(52,69,81,1);
  bottom: 45px;
  margin-bottom: -45px;
  padding-top: 25px;
  border-top: 20px solid gray;
}


#parallax_container{
  height:rem-calc(760px);
  z-index: 6;
  position: relative;
}
#parallax{
  height: 100%;
  width: 100%;
  position: inherit;

  #parallax_content_1{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    display: hidden;
    img{
      display: inherit;
    }
  }

    #parallax_content_2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    display: hidden;
    img{
      display: inherit;
    }

  }

    #parallax_content_3{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    display: hidden;
    img{
      display: inherit;
    }
  }

    #parallax_content_4{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background-image: linear-gradient(45deg, rgba(35,81,84,.9) 0%, rgba(61,24,51,.5) 50%, rgba(198,45,61,.5) 100%);
    z-index: 4;
  }

  #parallax_content_5{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 5;
  }
}

.sub_content {
  text-align: center;
  height: 100% !important;

  img{
    display: block;
    margin: 0 auto;
  }
  h3{

  }
  section{
    p{
      font-size: 18px;
    }
  }
}

