.row.collapse#subContent
  .small-6.medium-3.large-3.columns.subContent
    a(href="#")
      .subContentColor.one
      h1.subContentText
        | Guide
      img.subContentImage(src="../img/Guide.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#mapAnchor")
      .subContentColor.three
      h1.subContentText
        | Map
      img.subContentImage(src="../img/Map.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(target="_blank", href="http://bike37206.tumblr.com")
      .subContentColor.two
      h1.subContentText
        | Bike 37206
      img.subContentImage(src="../img/bike37206.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#adventuresAnchor")
      .subContentColor.four
      h1.subContentText
        | Adventures
      img.subContentImage(src="../img/Tours.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
