.row.collapse#subContent
  .small-6.medium-3.large-3.columns.subContent
    a(href="#guideAnchor")
      .subContentColor.one
      h1.subContentText
        | Guide
      img.subContentImage(src="../img/Guide.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="https://www.google.com/maps/preview?ll=36.177274,-86.749828&z=16&t=m&hl=en-US&gl=US&mapclient=embed&cid=14401112091919539240")
      .subContentColor.three
      h1.subContentText
        | Map
      img.subContentImage(src="../img/Map.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(target="_blank", href="http://bike37206.tumblr.com")
      .subContentColor.two
      h1.subContentText
        | Bike 37206
      img.subContentImage(src="../img/bike37206.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#adventuresAnchor")
      .subContentColor.four
      h1.subContentText
        | Adventures
      img.subContentImage(src="../img/Tours.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
