// Footer

footer
  #socialMedia
    a(title="Facebook", href="https://www.facebook.com/EastsideCyclesNashville")
      img(src="../img/Facebook.png")
    a(title="Twitter", href="https://www.facebook.com/EastsideCyclesNashville")
      img(src="../img/Twitter.png")
    a(title="Tumblr",href="http://bike37206.tumblr.com/")
      img(src="../img/Tumblr.png")
    a(href="http://www.meetup.com/Eastside-Rides/")
      img(title="MeetUp",src="../img/MeetUp.png")
    a(title="E-Mail",href="mailto: bikeseastside@gmail.com?Subject=Website%20Inquiry")
      img(src="../img/E-mail.png")
  h6.footerInfo
    | East Side Cycles © 2007-2014 All Rights Reserved
  a(title="ZeitVox Web Design", href="mailto:info@zeitvox.com")
    .zeitvox
      img(src="../img/zeitvox.png")
  .clearfix


// build:js /scripts/main.js

//- script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3fyxbe5LkY3-EkWdwHDFREhHWXK2i1hM&sensor=false")
script(src='/scripts/vendor/lodash.min.js')
script(src='/scripts/vendor/jquery.js')
script(src='/scripts/vendor/fastclick.js')
script(src='/scripts/vendor/foundation.min.js')
script(src='/scripts/main.js')


