// Footer
.row.collapse
  .small-12.columns
    footer
      #socialMedia
        img(src="../img/facebook.png")
        img(src="../img/twitter.png")
        img(src="../img/tumblr.png")
        img(src="../img/email-blue.png")
      .clearfix


// build:js /scripts/main.js

//- script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3fyxbe5LkY3-EkWdwHDFREhHWXK2i1hM&sensor=false")
script(src='/scripts/vendor/lodash.min.js')
script(src='/scripts/vendor/jquery.js')
script(src='/scripts/vendor/fastclick.js')
script(src='/scripts/vendor/foundation.min.js')
script(src='/scripts/vendor/skrollr.min.js')
script(src='/scripts/main.js')


