.row#goodsItems
  .small-12.medium-6.large-4.columns
    img(src="../img/Goods1.jpg")
    h3.title 2014 Kona CoCo
    h5.price $2099
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/Goods3.jpg")
    h3.title 2014 Kona CoCo
    h5.price $1029.99
    h6.description A great gift idea

  .small-12.medium-6.large-4.columns
    img(src="../img/Goods2.jpg")
    h3.title 2014 Kona CoCo
    h5.price Starting at $2,000
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/Csynapse14.jpg")
    h3.title 2014 Kona CoCo
    h5.price $2099
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/C_badboy.jpg")
    h3.title 2014 Kona CoCo
    h5.price $879.99
    h6.description A great gift idea!
  .small-12.medium-6.large-4.columns
    img(src="../img/C_Trail29er4.jpg")
    h3.title 2014 Kona CoCo
    h5.price $699
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/C14CAADx6.jpg")
    h3.title 2014 Kona CoCo
    h5.price $2,099
    h6.description A great gift idea!

  .small-12.medium-6.large-4.medium-6.columns
    img(src="../img/Cscalpel29er4.jpg")
    h3.title 2014 Kona CoCo
    h5.price $679.99
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/Csynapse14.jpg")
    h3.title 2014 Kona CoCo
    h5.price $5,000
    h6.description A great gift idea!

  .small-12.medium-6.large-4.medium-6.columns
    img(src="../img/E_ticino.jpg")
    h3.title 2014 Kona CoCo
    h5.price $1899.99
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/GescapeW14.jpg")
    h3.title 2014 Kona CoCo
    h5.price $1899.99
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/GiantDefyComposite.jpg")
    h3.title 2014 Kona CoCo
    h5.price $1199
    h6.description A great gift idea!

  .small-12.medium-6.large-4.columns
    img(src="../img/GiantXTC14.jpg")
    h3.title 2014 Kona CoCo
    h5.price $450
    h6.description A great gift idea!
  .small-12.medium-6.large-4.columns
    img(src="../img/GiantXTCcomposite.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/HonkyTonk14.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/KidsC_trail.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/KonaCoco.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/KonaDew.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/KonaDewPlus.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/SynapseCarbon5.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns
    img(src="../img/wCarbonSynapse5.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

  .small-12.medium-6.large-4.columns.end
    img(src="../img/Wiok.jpg")
    h3.title 2014 Kona CoCo
    h5.price $650
    h6.description Build it yourself or hire us!

