.row.collapse#subContent
  .small-6.medium-3.large-3.columns.subContent
    a(target="_blank", href="https://app.e2ma.net/app/view:Join/signupId:49516")
      .subContentColor.one
      h1.subContentText
        | Mailing-List
      img.subContentImage(src="../img/Mail.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#mapAnchor")
      .subContentColor.three
      h1.subContentText
        | Map
      img.subContentImage(src="../img/Map.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#partsAnchor")
      .subContentColor.two
      h1.subContentText
        | Parts
      img.subContentImage(src="../img/Parts.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#apparelAnchor")
      .subContentColor.four
      h1.subContentText
        | Apparel
      img.subContentImage(src="../img/Apparel.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
