.row.collapse
  .small-12.columns
    .row#goodsItems
      .small-12.medium-6.large-4.columns
        #goods1
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Goods1.jpg")
        .panel.goodsDescription
          h5.title 2014 Cannondale Super Six EVO 5

          h6.description An intoxicating blend of light weight, quick handling, and stability.
          h5.price $2,099.99
          a.orangeLink(href="http://www.cannondale.com/dnk/catalog/product/view/id/31460/s/supersix-evo-5-105/category/916/") > More Info <


      .small-12.medium-6.large-4.columns
        #goods2
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Goods3.jpg")
        .panel.goodsDescription
          h5.title 2014 Cannondale Trail 29 SL 3
          h6.description Race Inspired technology and features derived directly from their more expensive siblings.
          h5.price $1,029.99
          a.orangeLink(href="http://www.cannondale.com/swe/catalog/product/view/id/31697/s/trail-sl-29-3/category/931/") > More Info <

      .small-12.medium-6.large-4.columns
        #goods3
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Goods2.jpg")
        .panel.goodsDescription
          h5.title Surly "Urban Assault Vehicle"

          h6.description 2014 Surly Ogre with a Shimano Alfine 8 spd rear hub.
            span
              a.orangeLinkSmall(href="./lowdown.html#customBuilds")  Let us build a custom bike for you!
          h5.price Starting at $2,000

      .small-12.medium-6.large-4.columns
        #goods4
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/purefixBravo.jpg")
        .panel.goodsDescription
          h5.title 2014 Pure Fix Bravo
          h6.description The minimalist ethos sporting opalescent-blue deep dish wheels.
          h5.price $359.99
          a.orangeLink(href="http://purefixcycles.com/pages/pure-fix-original-specs") > More Info <

      .small-12.medium-6.large-4.columns
        #goods5
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Csynapse14.jpg")
        .panel.goodsDescription
          h5.title 2014 Cannondale Synapse Carbon 5
          h6.description An ideal blend of compliance, rigidity, and weight for the perfect balance of race-day aggression and all-day ridability
          h5.price $2,099.99
          a.orangeLink(href="http://www.cannondale.com/fin/catalog/product/view/id/31585/s/synapse-carbon-5-105/category/916/") > More Info <

      .small-12.medium-6.large-4.columns
        #goods6
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/C_SynapseCarbon3.JPG")
        .panel.goodsDescription
          h5.title Cannondale Synapse Carbon 3 Ultegra
          h6.description Crush meets plush: The perfect balance between raw power and all-day ridability.
          h5.price $2,999.99
          a.orangeLink(href="http://www.cannondale.com/fin/catalog/product/view/id/31565/s/synapse-carbon-3-ultegra/category/916/") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/C_Trail29er4.jpg")
        .panel.goodsDescription
          h5.title 2014 Cannondale Trail 29er 4
          h6.description Proof that a great riding, long lasting bike doesn't need to break the bank.
          h5.price $879.99
          a.orangeLink(href="http://www.cannondale.com/ind/catalog/product/view/id/31708/s/trail-29-4/category/931/") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/pFix_Hotel.jpg")
        .panel.goodsDescription
          h5.title 2014 Pure Fix "The Hotel"
          h6.description Gloss Black fram with hyper <em>glow in the dark</em> deep dish wheels. It's the Hotel, not a motel or a Holiday Inn.
          h5.price $439.99

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/pFix_Whiskey.jpg")
        .panel.goodsDescription
          h5.title 2014 Pure Fix "The Whiskey"
          h6.description If the Whiskey were a beverage, it would definitely be a twelve year old scotch.
          h5.price $359.99
      

      .small-12.medium-6.large-4.medium-6.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/pFix_Echo.jpg")
        .panel.goodsDescription
          h5.title 2014 Pure Fix "Echo"
          h6.description Matte black frame with Oxblood-Red deep dish wheels.
          h5.price $359.99

      .small-12.medium-6.large-4.medium-6.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Electra_Ticino_W.jpg")
        .panel.goodsDescription
          h5.title 2014 Electra Ticino Women's 7D
          h6.description This seven speed bike is the epitome of simple elegance. The hammered fenders are the perfect accent to it's understated style.
          h5.price $649.99
          a.orangeLink(href="http://www.electrabike.com/bikes/ticino/ticino-7d") > More Info <          

      .small-12.medium-6.large-4.medium-6.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/E_ticino.jpg")
        .panel.goodsDescription
          h5.title 2014 Electra Ticino 8D
          h6.description Vintage, hammered-finish alloy fenders, clasically styled alloy crank set, touring pedals and a brilliant chrome plated stem.
          h5.price $849.99
          a.orangeLink(href="http://www.electrabike.com/bikes/ticino/ticino-8d?g=mens") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/GescapeW14.jpg")
        .panel.goodsDescription
          h5.title 2014 Giant Escape 2 W
          h6.description Comfortable enough to cruise around town, yet sporty enough to chalk up some miles. Quality that's balanced brisk and comfortable as can be!
          h5.price $449.99
          a.orangeLink(href="http://www.giant-bicycles.com/en-us/bikes/model/escape.2.w/14851/75680/") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Kona_DrGood.jpg")
        .panel.goodsDescription
          h5.title 2014 Kona Dr. Good
          h6.description Commuting by bike is an excercise in simplicity and efficiency. The Dr. Good checks the boxes of both.
          h5.price $899.99
          a.orangeLink(href="http://2014.konaworld.com/dr_good.cfm") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/GiantXTC14.jpg")
        .panel.goodsDescription
          h5.title 2014 Giant XTC
          h6.description The distillation of a decade of a race-bred cross country platform optimized for 27.5 inch wheels.
          h5.price $1,899.99
          a.orangeLink(href="http://www.giant-bicycles.com/en-us/bikes/model/xtc.27.5.2/14828/66310/") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/HonkyTonk14.jpg")
        .panel.goodsDescription
          h5.title 2014 Kona Honky Tonk
          h6.description Reynolds 520 Butted Cremoly Road Frame, long-reach calipers, 11-30/50-34 gear range.
          h5.price $1,149.99
          a.orangeLink(href="http://www.konaworld.com/honky_tonk.cfm") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/KidsC_trail.jpg")
        .panel.goodsDescription
          h5.title 2014 Cannondale Kid's Trail Race 24
          h6.description Ultra light alloy frame with over sized head tubes and smooth welds.
          h5.price $649.99
          a.orangeLink(href="http://www.cannondale.com/dnk/2014/bikes/kid-s/boys/race") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/KonaCoco.jpg")
        .panel.goodsDescription
          h5.title 2014 Kona CoCo
          h6.description Fun, elegant and quick, with front and rear disc brakes, full fenders, and integrated bell on the bike lever.
          h5.price $649.99
          a.orangeLink(href="http://www.konaworld.com/coco.cfm") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/KonaDew.jpg")
        .panel.goodsDescription
          h5.title 2014 Kona Dew
          h6.description Dew gives the bike commuter on a budget the ultimate in safety, stability, and security.
          h5.price $479.99
          a.orangeLink(href="http://www.konaworld.com/dew.cfm") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/KonaDewPlus.jpg")
        .panel.goodsDescription
          h5.title 2014 Kona Dew Plus
          h6.description "Outstandingly versatile commuter" -Ride On, Australia
          h5.price $679.99
          a.orangeLink(href="http://www.konaworld.com/dew_plus.cfm") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/Kona_DewDeluxe.jpg")
        .panel.goodsDescription
          h5.title 2014 Kona Dew Deluxe
          h6.description We took our Aluminum Ergo frame and paired it with an external 1x9 Shimano drivetrain, fenders, and a new front rack to give you the commuter bike of your dreams. 
          h5.price $849.99
          a.orangeLink(href="http://2014.konaworld.com/dew_dl.cfm") > More Info <          

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/SynapseCarbon5.jpg")
        .panel.goodsDescription
          h5.title 2014 Cannondale Synapse Carbon 5
          h6.description An ideal blend of compliance, rigidity, and weight for the perfect balance of race-day aggression and all-day ridability
          h5.price $2,099.99
          a.orangeLink(href="http://www.cannondale.com/fin/catalog/product/view/id/31585/s/synapse-carbon-5-105/category/916/") > More Info <

      .small-12.medium-6.large-4.columns
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/purefix2.jpg")
        .panel.goodsDescription
          h5.title New Pure Fix Bikes!
          h6.description Some even glow in the dark.
          h5.price Starting at $359.99
          a.orangeLink(href="http://purefixcycles.com/blogs/fixie-news/13643033-pure-fix-in-the-new-york-times") > More Info <

      .small-12.medium-6.large-4.columns.end
        a(href="#", onclick="return false;")
          img.th.goodsImage(src="../img/wCarbonSynapse5.jpg")
        .panel.goodsDescription
          h5.title 2014 Womens Cannondale Synapse Carbon 5
          h6.description Silky Smooth. Deceptively Fast. Save Plus rear stay micro-suspension system.
          h5.price $2,099.99
          a.orangeLink(href="http://www.cannondale.com/2013/bikes/women-s/performance-road/synapse-carbon/synapse-carbon-women-s-5-105-compact-crankset") > More Info <


