.row.collapse#subContent
  .small-6.medium-3.large-3.columns.subContent
    a(href="http://eastside-cycles.com/lowdown.html")
      .subContentColor.one
      h1.subContentText
        | Rentals
      img.subContentImage(src="../img/Rental.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="http://eastside-cycles.com/wrenchbar.html")
      .subContentColor.two
      h1.subContentText
        | Repairs
      img.subContentImage(src="../img/Parts.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="https://www.facebook.com/EastsideCyclesNashville")
      .subContentColor.three
      h1.subContentText
        | Social
      img.subContentImage(src="../img/bike37206.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="https://www.google.com/maps/place/Eastside+Cycles/@36.177274,-86.749828,17z/data=!3m1!4b1!4m2!3m1!1s0x886467d2e6e49125:0xc7db0725b1725c28")
      .subContentColor.four
      h1.subContentText
        | Map
      img.subContentImage(src="../img/Map.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

