head
  title EastSide Cycles
  meta(charset='UTF-8')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='3 days', name='revisit-after')
  script(src="/scripts/vendor/modernizr.js")


  link(href='/css/main.css', rel='stylesheet')
  link(rel="shortcut icon", href="./img/favicon.ico")
