nav
  a(href="/index.html")
    h5 East Side Cycles
  a(href="/lowdown.html")
    h5 Lowdown
  a(href="/goods.html")
    h5 Goods
  a(href="/events.html")
    h5 Events
  a(href="/wrenchbar.html")
    h5 Wrench Bar
  a(href="#")
    h5 Blog