
.sticky#index
  nav.top-bar(data-topbar,  data-0="background-color:rgba(0,0,0,0);padding-bottom:80px;", data-95="background-color:rgba(0, 0, 0,1) !important;padding-bottom:0px;",)
    ul.title-area
      li.name(data-0="padding-left:10px;padding-right:10px;", data-95="padding-left:0px;padding-right:0px")
        h1: a(href="./index.html") East Side Cycles
      li.toggle-topbar.menu-icon
        a(href="#") Menu
    section.top-bar-section
      <!--Left Nav Section-->
      ul.left
        li.divider(data-0="opacity:0;", data-95="opacity:1;")
        li(data-0="padding-left:10px;padding-right:10px;", data-95="padding-left:0px;padding-right:0px")
          a(href="./lowdown.html") Lowdown
        li.divider(data-0="opacity:0;", data-95="opacity:1;")
        li(data-0="padding-left:10px;padding-right:10px;", data-95="padding-left:0px;padding-right:0px")
          a(href="./goods.html") Goods
        li.divider(data-0="opacity:0;", data-95="opacity:1;")
        li(data-0="padding-left:10px;padding-right:10px;", data-95="padding-left:0px;padding-right:0px")
          a(href="./events.html") Events
        li.divider(data-0="opacity:0;", data-95="opacity:1;")
        li(data-0="padding-left:10px;padding-right:10px;", data-95="padding-left:0px;padding-right:0px")
          a(href="./wrenchbar.html") Wrench Bar
        li.divider(data-0="opacity:0;", data-95="opacity:1;")
        li(data-0="padding-left:10px;padding-right:10px;", data-95="padding-left:0px;padding-right:0px")
          a(href="#") Blog
        li.divider(data-0="opacity:0;", data-95="opacity:1;")
  #lineContainer
    .line(data-0="width:0%", data-115="width:100%;")

