ul.slider(data-orbit)
  li
    img(src="../img/Goods1.jpg")
    a(href="./goods.html#goods1").orbit-caption
        | 2014 Cannondale Super Six EVO 5
  li
    img(src="../img/Goods3.jpg")
    a(href="./goods.html#goods2").orbit-caption
        | 2014 Cannondale Trail 29 SL 3
  li
    img(src="../img/Goods2.jpg")
    a(href="./goods.html#goods3").orbit-caption
        | 2014 Surly "Urban Assault Vehicle"