ul.slider(data-orbit)
  li
    img(src="../img/rentalTownie.jpg")
    .orbit-caption
        | Take the townie out for a spin, only $25/day!!   
  li
    img(src="../img/rentalCannondaleTrail7.jpg")
    .orbit-caption
        | If you're serious about tackling the trail, this Cannondale Trail 7 is perfect! Only $30/day
  li
    img(src="../img/lockHelmet.jpg")
    .orbit-caption
        | Keep safe with a lock and helmet. Only $5/day.
  li
    img(src="../img/carRack.jpg")
    .orbit-caption
        | The car rack is essential to get out of town and get into some fun. Only $15/day