ul.slider(data-orbit)
  li
    img(src="../img/Goods1.jpg")
    .orbit-caption
        | Caption One
  li
    img(src="../img/Goods2.jpg")
    .orbit-caption
        | Caption Two
  li
    img(src="../img/Goods3.jpg")
    .orbit-caption
        | Caption Three