ul.slider(data-orbit)
  li
    img(src="../img/sale3.jpg")
    .orbit-caption
        | Caption One
  li
    img(src="../img/sale2.jpg")
    .orbit-caption
        | Caption Two
  li
    img(src="../img/sale1.jpg")
    .orbit-caption
        | Caption Three