#parallaxContainer
  img.parallaxImage(src="../img/HeadAlpha.jpg")
  img.parallaxImage(src="../img/HeadBeta.jpg")
  img.parallaxImage(src="../img/HeadGamma.jpg")
  //- img.parallaxImage(data-interchange="[../img/HeadAlpha.jpg, (default)], [../img/HeadAlpha_s.jpg, (small)], [../img/HeadAlpha_m.jpg, (medium)], [../img/HeadAlpha.jpg, (large)]")
  //- img.parallaxImage(data-interchange="[../img/HeadBeta.jpg, (default)], [../img/HeadBeta_s.jpg, (small)], [../img/HeadBeta_m.jpg, (medium)], [../img/HeadBeta.jpg, (large)]")
  //- img.parallaxImage(data-interchange="[../img/HeadGamma.jpg, (default)], [../img/HeadGamma_s.jpg, (small)], [../img/HeadGamma_m.jpg, (medium)], [../img/HeadGamma.jpg, (large)]")
  #parallaxGradient
  #parallaxCaption
    h1.parallaxCaption1 Anything  But  Pedestrian
  #eastSideLogo
    img(src="../img/BannerLogo.png")
  #bikeGlyph
    img(src="../img/Chevronz.png")
  #logoContainer
    a(href="http://www.giant-bicycles.com/", target="_blank")
      .logo#giant
        img(src="../img/brandLogo_1.png")
    a(href="http://www.konaworld.com/", target="_blank")
      .logo#kona
        img(src="../img/brandLogo_2.png")
    a(href="http://www.cannondale.com/", target="_blank")
      .logo#cannondale
        img(src="../img/brandLogo_3.png")
    a(href="http://www.electrabike.com/", target="_blank")
      .logo#electra
        img(src="../img/brandLogo_4.png")
    a(href="http://surlybikes.com/", target="_blank")
      .logo#surly
        img(src="../img/brandLogo_5.png")
    a(href="http://purefixcycles.com/", target="_blank")
      .logo#purefix
        img(src="../img/brandLogo_6.png")



