.row.collapse#subContent
  .small-6.medium-3.large-3.columns.subContent
    a(href="#")
      .subContentColor.one
      h1.subContentText
        | Mailing-List
      img.subContentImage(src="../img/Mail.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
      //- .subContentEffect1
      //- .subContentEffect2

  .small-6.medium-3.large-3.columns.subContent
    a(href="#")
      .subContentColor.two
      h1.subContentText
        | Rentals
      img.subContentImage(src="../img/Rental.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
      //- .subContentEffect1
      //- .subContentEffect2

  .small-6.medium-3.large-3.columns.subContent
    a(href="#")
      .subContentColor.three
      h1.subContentText
        | Maintenance
      img.subContentImage(src="../img/Maintenance.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
      //- .subContentEffect1
      //- .subContentEffect2

  .small-6.medium-3.large-3.columns.subContent
    a(href="#")
      .subContentColor.four
      h1.subContentText
        | Tours
      img.subContentImage(src="../img/Tours.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
      //- .subContentEffect1
      //- .subContentEffect2
