.row.collapse

  .small-12.medium-6.large-3.columns
    a(href="#")
      .subContent
        .subContentColor4
        .subContentText
          a(href="#")
            h1 Mailing List
        .subContentImage
          img(src="../img/Mail.jpg")
        .subContentEffect1
        .subContentEffect2

  .small-12.medium-6.large-3.columns
    a(href="#")
      .subContent
        .subContentColor2
        .subContentText
          a(href="#")
            h1 Rentals
        .subContentImage
          img(src="../img/Rental.jpg")
        .subContentEffect1
        .subContentEffect2

  .small-12.medium-6.large-3.columns
    a(href="#")
      .subContent
        .subContentColor3
        .subContentText
          a(href="#")
            h1 Maintenance
        .subContentImage
          img(src="../img/Maintenance.jpg")
        .subContentEffect1
        .subContentEffect2

  .small-12.medium-6.large-3.columns
    a(href="#")
      .subContent
        .subContentColor1
        .subContentText
          h1 Tours
        .subContentImage
          img(src="../img/Tours.jpg")
        .subContentEffect1
        .subContentEffect2

