.row.collapse#subContent
  .small-6.medium-3.large-3.columns.subContent
    a(target="_blank", href="https://app.e2ma.net/app2/audience/signup/49516/29350/?v=a")
      .subContentColor.one
      h1.subContentText
        | Mailing List
      img.subContentImage(src="../img/Mail.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="http://bike37206.tumblr.com/tagged/wrench")
      .subContentColor.three
      h1.subContentText
        | Maintenance
      img.subContentImage(src="../img/Maintenance.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#rentalsAnchor")
      .subContentColor.two
      h1.subContentText
        | Rentals
      img.subContentImage(src="../img/Rental.jpg")
      .subContentEffect
        img(src="../img/wheel.png")

  .small-6.medium-3.large-3.columns.subContent
    a(href="./lowdown.html#apparelAnchor")
      .subContentColor.four
      h1.subContentText
        | Apparel
      img.subContentImage(src="../img/Apparel.jpg")
      .subContentEffect
        img(src="../img/wheel.png")
