extends layout
block content
  .row#content
    .small-12.large-10.medium-10.columns
      #main_content.panel
        h6 Main Content
        .row
          .small-12.large-8.columns
            ul.slider(data-orbit)
              li
                a.th(href="http://www.google.com")
                  img(src="./img/CycleOps.jpg")
                .orbit-caption
                    | Caption One
              li
                a.th(href="http://www.google.com")
                  img(src="./img/Winter30.jpg")
                .orbit-caption
                    | Caption Two
              li
                a.th(href="http://www.google.com")
                  img(src="./img/Winter25.jpg")
                .orbit-caption
                    | Caption Three
          .large-4.columns

        .row
          .small-12.large-4.columns
            .sub_content.sub_border
              h6 Sub Content
              img(src="http://lorempixel.com/g/275/125/city/4")
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, expedita accusamus aspernatur at ut quod.
          .small-12.large-4.columns.middle_sub_content
            .sub_content.sub_border
              h6 Sub Content
              img(src="http://lorempixel.com/g/275/125/city/5")
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, expedita accusamus aspernatur at ut quod.
          .small-12.large-4.columns
            .sub_content.sub_border
              h6 Sub Content
              img(src="http://lorempixel.com/g/275/125/city/6")
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, expedita accusamus aspernatur at ut quod.

    .small-12.large-2.medium-2.columns
      #right_content.panel
        h6 Right Content
        .row
          .small-12.medium-12.large-12.columns
            p
              img(src="http://lorempixel.com/g/300/200/city/7")
          .small-12.medium-12.large-12.columns
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .row
          .small-12.medium-12.large-12.columns
            p
              img(src="http://lorempixel.com/g/300/200/city/8")
          .small-12.medium-12.large-12.columns
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        .row
          .small-12.medium-12.large-12.columns
            p
              img(src="http://lorempixel.com/g/300/200/city/9")
          .medium-12.large-12.columns
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit.


