doctype html5
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en">        <!--<![endif]-->
include template/head
body
  include template/header
  block content
  include template/footer
  include template/scripts
</html>