extends ./layouts/_defaultLayout
block header
  .row.collapse
    .small-12.columns
      header
        img(src="../img/banner_Events.jpg")
block content
  #paper
    img(src="../img/paperEdge1.png")
  .row#eventsContent
    .small-12.columns
      h2.headerTitle
        | Events >>
        span
          |  Ride On You Crazy Diamond
    .small-12.medium-5.columns
      img.th(src="../img/events.jpg")
      p
        | Many Saturday mornings, we have a casual road ride or a family ride at 8 am. weather pending. Please contact us at
        span
          a.lightOrangeLink(href="mailto: bikeseastside@gmail.com?Subject=Website%20Inquiry")
            |  bikeseastside@gmail.com
        |  or call the shop at 615-469-1079
      p
        | For the more rigorously minded, we often leave Sundays at 8am from the shop. 30+ miles @ 16+ mph. Must have group ride experience. If you have a route that you'd like to share, call the shop and become a ride leader.
      p.greenEventInfo
        | MTB Rides Interested in dirt?
        span
          |—We have more dirt experience than any shop in town!! Let us know where you are riding! For trail info give us a call or check out our Guide section below.
          | Be sure join
        span
          a.lightOrangeLink(href="http://www.meetup.com/Eastside-Rides/")
            |  Eastside Rides on meetup.
      #socialMediaBody
        a(title="Facebook", href="https://www.facebook.com/EastsideCyclesNashville")
          img(src="../img/Facebook.png")
        a(title="Twitter", href="https://www.facebook.com/EastsideCyclesNashville")
          img(src="../img/Twitter.png")
        a(title="Tumblr",href="http://bike37206.tumblr.com/")
          img(src="../img/Tumblr.png")
        a(href="http://www.meetup.com/Eastside-Rides/")
          img(title="MeetUp",src="../img/MeetUp.png")
        a(title="E-Mail",href="mailto: bikeseastside@gmail.com?Subject=Website%20Inquiry")
          img(src="../img/E-mail.png")

    .small-12.medium-7.columns
      iframe(src="https://www.google.com/calendar/embed?title=Bike%20Eastside&height=600&wkst=1&bgcolor=%23ff9900&src=bikeeastside%40gmail.com&color=%23182C57&src=e9ph59bmbpe3f99jfrk94klhe8%40group.calendar.google.com&color=%230F4B38&src=q63je78uavbck79dr3ejd3qr7s%40group.calendar.google.com&color=%23006600&src=ht3jlfaac5lfd6263ulfh4tql8%40group.calendar.google.com&color=%238C500B&src=48ouaf1f4s6vpvj7hlef561mb8%40group.calendar.google.com&color=%23113F47&src=rideforreading%40gmail.com&color=%232F6309&src=tndirtdog%40gmail.com&color=%23856508&src=teambikerschoice%40gmail.com&color=%2342104A&src=en.usa%23holiday%40group.v.calendar.google.com&color=%23691426&src=b69vrruv61t6hdsbpks02ijv0g%40group.calendar.google.com&color=%23125A12&ctz=America%2FChicago", style=" border-width:0 ", width="100%", height="500", frameborder="0", scrolling="no")
      br
      br
      
  #paper2
    img(src="../img/paperEdge1.png")
  .row#eventsColor
    .small-12.large-10.large-centered.columns.end
      .row.collapse.panel#eventsOffset
        .small-12.columns
            #guideAnchor
            h1.eventsHeader Guide
        .small-12.columns
            #eventsContent
              .row.collapse
                .small-12.medium-6.columns
                  #guideContainer
                    h2.eventsHeader  Area Trail Maps 


                    a.eventLink(href="http://www.informingdesign.com/greenways/") Nashville Greenway System
                    a.eventLink(href="http://sorbamidtn.org/trails/pw_map_letter3.pdf")  Percy Warner Park


                    a.eventLink(href="http://fontanelmansion.com/recreation/trails/") Trails at Fontanel
                    a.eventLink(href="http://tennesseemountainbike.com/board/lock-4-bike-trail.php")  Lock 4
                    a.eventLink(href="http://tennesseemountainbike.com/board/long-hunter-state-park-bike-trail.php")  Long Hunter State Park


                    a.eventLink(href="http://tennesseemountainbike.com/board/hamilton-creek-bike-trail.php") Hamilton Creek
                    a.eventLink(href="http://3.bp.blogspot.com/-3sGmttTMwO0/UMnWB8RfPaI/AAAAAAAAAGI/ewYgLUvr0Cg/s1600/Shutes+anch+at+8.2+miles.jpg")  Shutes Branch
                    a.eventLink(href="http://tennesseemountainbike.com/board/fairview-bike-trail.php")  Fairview


                    a.eventLink(href="http://tennesseemountainbike.com/board/chickasaw-trace-bike-trail.php") Chickasaw Trace
                    a.eventLink(href="https://maps.google.com/maps/ms?msid=212709023612079641200.00046f3b414462252e501&msa=0&ll=36.107491,-87.26979&spn=0.014822,0.033023&dg=feature")  Montgomery Bell
                    a.eventLink(href="http://www.bikechattanooga.org/LinkedDocuments/RM%20map_Summer%202007%20R.pdf")  Racoon Mountain


                    a.eventLink(href="http://s70.photobucket.com/user/TNcaveman/media/Bike%20Trail%20Maps/Terrainracetrackmap.jpg.html") Mousetail Landing
                    a.eventLink(href="http://sorbamidtn.org/wp-content/uploads/2010/01/CR-map-rev5_3.jpg")  Cane Ridge

                .small-12.medium-6.columns
                  #resourceContainer
                    h2.eventsHeader  Awesome Resources

                    a.eventLink(href="http://sorbamidtn.org/") SORBA-MidTN
                    a.eventLink(href="http://tennesseemountainbike.com/board/forum.php")  Tennessee Mountain Bike

                    a.eventLink(href="http://www.ta.org/") Tennessee Bike Racing Association
                    a.eventLink(href="http://www.walkbikenashville.org/")  Walk/Bike Nashville


                    a.eventLink(href="http://www.nashvillemountainbike.com/") Nashville Mountain Bike
                    a.eventLink(href="http://www.nashvillebicyclealliance.org/clubs--organizations.html")  Nashville Bicycle Alliance


                    a.eventLink(href="http://www.nashvillecyclist.com/") Nashville Cyclist
                    a.eventLink(href=" http://cycling.meetup.com/cities/us/tn/nashville/")  Nashville Cycling Meetups


                .small-12.columns

                  #appContainer
                    h2.eventsHeader  Apps of Note

                    #eventAppLinks
                      a.eventLinkApp(href="http://www.mapmyride.com/") Map My Ride
                      a.eventLinkApp(href="http://www.maprika.com/index.html")  Maprika
                      a.eventLinkApp(href="https://itunes.apple.com/us/app/traillink-bike-trails-walking/id636875425?mt=8")  TrailLink





    include ./partials/_eventsSubContent














