extends ./layouts/_defaultLayout
block header
  .row.collapse
    .small-12.columns
      header
        img(src="../img/banner_Events.jpg")
block content
  #paper
    img(src="../img/paperEdge1.png")
  .row#eventsContent
    .small-12.columns
      h2.headerTitle
        | Events >>
        span
          |  Ride On You Crazy Diamond
    .small-12.medium-5.columns
      p
        | See Nashville and the middle Tennessee surround on a bike. Stop by the shop or give us a call. Check our Guide section for ideas on cool trails, where to ride. Make our knowledge of the area your asset in planning a memorable Nashville biking experience.

    .small-12.medium-7.columns
      iframe(src="https://www.google.com/calendar/embed?title=Bike%20Eastside&height=600&wkst=1&bgcolor=%23ff9900&src=bikeeastside%40gmail.com&color=%23182C57&src=e9ph59bmbpe3f99jfrk94klhe8%40group.calendar.google.com&color=%230F4B38&src=q63je78uavbck79dr3ejd3qr7s%40group.calendar.google.com&color=%23006600&src=ht3jlfaac5lfd6263ulfh4tql8%40group.calendar.google.com&color=%238C500B&src=48ouaf1f4s6vpvj7hlef561mb8%40group.calendar.google.com&color=%23113F47&src=rideforreading%40gmail.com&color=%232F6309&src=tndirtdog%40gmail.com&color=%23856508&src=teambikerschoice%40gmail.com&color=%2342104A&src=en.usa%23holiday%40group.v.calendar.google.com&color=%23691426&src=b69vrruv61t6hdsbpks02ijv0g%40group.calendar.google.com&color=%23125A12&ctz=America%2FChicago", style=" border-width:0 ", width="100%", height="500", frameborder="0", scrolling="no")
  #paper2
    img(src="../img/paperEdge1.png")
  #eventsColor
    include ./partials/_eventsSubContent