extends ./layouts/_defaultLayout
block header
  .row.collapse
    .small-12.columns
      header
        img(src="../img/banner_Events.jpg")
block content
  #paper
    img(src="../img/paperEdge1.png")
  .row#eventsContent
    .small-12.medium-5.columns
      h2
        | East Nasty's Go To Cycle Shop
      p
        | Eastside Cycles is a family owned full service bicycle shop. We sell, rent, and repair bicycles. We've been known to ride them occasionally too! Visit us right in the middle of 5 Points.
      .button.large.radius
        | Find Us!

    .small-12.medium-7.columns
      img.th(src="../img/bikeFiller.jpeg")
  include ./partials/_subContent