extends ./layouts/_goodsLayout
block offers
  #paper
    img(src="../img/paperEdge1.png")
  .row#goodsContent
    .small-12.columns
      h2.headerTitle
        | Goods >>
        span
          |  Where the Rubber hits the Road
    .small-12.medium-6.large-6.columns
      p
        | Scroll down through a selection of our prime line up and special deals. Drop by 5 Points for the definitive brick and mortar experience, where our knowledgealbe crew can assist every level of cycling enthusiasm. We're here Monday through Friday 11-7 and Saturday 10-6. Grab a seat at the wrench bar and unwind to the sumptuous caress of that new bike smell.     
      p
        | Call us with questions, rental enquiries or whatnot at (615)-469-1079
      .row.collapse
        .small-12.columns
          #goodsLogos
            a.goodsLogo(title="Giant Bicycles: Outstanding Quality", href="http://www.giant-bicycles.com/", target="_blank")
              img(src="../img/Giant.png")
            a.goodsLogo(title="The Best from the Northwest", href="http://www.konaworld.com/", target="_blank")
              img(src="../img/Kona.png")
            a.goodsLogo(title="The Finest All-American Made Bikes", href="http://www.cannondale.com/", target="_blank")
              img(src="../img/Cannondale.png")
            a.goodsLogo(title="The Best Combination of Style and Function.",href="http://www.electrabike.com/", target="_blank")
              img(src="../img/Electra.png")
            a.goodsLogo(title="For people who ride a lot. No B.S. Unless you deserve it.",href="http://surlybikes.com/", target="_blank")
              img(src="../img/Surly.png")
            a.goodsLogo(title="Quality-Built Fixed Gear Bikes",href="http://purefixcycles.com/", target="_blank")
              img(src="../img/purefix.png")
    .small-12.medium-6.large-6.columns
      <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Eastside+Cycles&amp;layer=c&amp;sll=36.177273,-86.749723&amp;cid=14401112091919539240&amp;panoid=IEBqrE3uzgQAAAQWtFINOg&amp;cbp=13,73.85,,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=36.177273,-86.749723&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=36.177242,-86.749796&amp;source=embed&amp;output=svembed"></iframe><br /><small><a href="https://maps.google.com/maps?q=Eastside+Cycles&amp;layer=c&amp;sll=36.177273,-86.749723&amp;cid=14401112091919539240&amp;panoid=IEBqrE3uzgQAAAQWtFINOg&amp;cbp=13,73.85,,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=36.177273,-86.749723&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=36.177242,-86.749796&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  #paper2
    img(src="../img/paperEdge1.png")

block content
  #goodsColor
    include ./partials/_goodsItems
    include ./partials/_goodsSubContent