extends ./layouts/_goodsLayout
block offers
  #paper
    img(src="../img/paperEdge1.png")
  .row#goodsContent
    .small-12.columns
      h2.headerTitle
        | Goods >>
        span
          |  Where the Rubber hits the Road
    .small-12.medium-6.large-7.columns
      p
        | Scroll through our prime line up and special deals. Drop by 5 points where our knowldegeable staff is ready to assist every level of cycling enthusiasm. Monday through Friday 11-7 or Saturday 10-6.
      p
        | Questions or Rental Inquiries? Call us at (615)-469-1079
      .row.collapse
        .small-12.columns
          #goodsLogos
            a.goodsLogo(title="Giant Bicycles: Outstanding Quality", href="http://www.giant-bicycles.com/", target="_blank")
              img(src="../img/Giant.png")
            a.goodsLogo(title="The Best from the Northwest", href="http://www.konaworld.com/", target="_blank")
              img(src="../img/Kona.png")
            a.goodsLogo(title="The Finest All-American Made Bikes", href="http://www.cannondale.com/", target="_blank")
              img(src="../img/Cannondale.png")
            a.goodsLogo(title="The Best Combination of Style and Function.",href="http://www.electrabike.com/", target="_blank")
              img(src="../img/Electra.png")
            a.goodsLogo(title="For people who ride a lot. No B.S. Unless you deserve it.",href="http://surlybikes.com/", target="_blank")
              img(src="../img/Surly.png")
            a.goodsLogo(title="Quality-Built Fixed Gear Bikes",href="http://purefixcycles.com/", target="_blank")
              img(src="../img/purefix.png")
    .small-12.medium-6.large-5.columns
      include ./partials/_orbit
  #paper2
    img(src="../img/paperEdge1.png")




block content
  #goodsColor
    include ./partials/_goodsItems
    include ./partials/_goodsSubContent





