extends ./layouts/_indexLayout
block content
  .row#topContent
    .small-12.columns
      .row
        .small-12.columns.panel
          .row
            .small-12.medium-8.columns
              img.th(src="../img/bikeFiller.jpeg")
            .small-12.medium-4.columns
              h2
                | East Nasty's Go To Cycle Shop
              p
                | Eastside Cycles is a family owned full service bicycle shop. We sell, rent, and repair bicycles. We've been known to ride them occasionally too! Visit us right in the middle of 5 Points.
              .button.large.radius
                | Find Us!

  include ./partials/_subContent