extends ./layouts/_defaultLayout
block header
  .row.collapse
    .small-12.columns
      header
        img(src="../img/banner_LowDown.jpg")
block content
  #paper
    img(src="../img/paperEdge1.png")
  .row#lowdownContent
    .small-12.medium-5.columns
      h2
        | East Nasty's Go To Cycle Shop
      p
        | Eastside Cycles is a family owned full service bicycle shop. We sell, rent, and repair bicycles. We've been known to ride them occasionally too! Visit us right in the middle of 5 Points.
      .button.large.radius
        | Find Us!

    .small-12.medium-7.columns
        iframe(  width="100%", height="400", frameborder="0", style="border:0",src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA3fyxbe5LkY3-EkWdwHDFREhHWXK2i1hM&q=East+Side+Cycles,Nashville+TN")

  include ./partials/_subContent



