extends ./layouts/_defaultLayout
block header
  .row.collapse
    .small-12.columns
      header
        img(src="../img/banner_LowDown.jpg")
block content
  .row
    .small-12.columns
      .row
        .small-12.columns.panel
          .row
            .small-12.medium-8.columns
              img.th(src="http://lorempixel.com/900/400/sports/3")
            .small-12.medium-4.columns
              h2
                | East Nasty's Go To Cycle Shop
              p
                | Eastside Cycles is a family owned full service bicycle shop. We sell, rent, and repair bicycles. We've been known to ride them occasionally too! Visit us right in the middle of 5 Points.
              .button.large.radius
                | Find Us!



  //- .row
  //-   .small-12.medium-6.columns#map
  //-     #iframeContainer
  //-       iframe(width="100%", height="100%",frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDO_h4pHE3bhVU8aGQuiB-gH1Xmbv-kPVs&q=East+Side+Cycles,Nashville+TN")

  include ./partials/_subContent