extends ./layouts/_defaultLayout
block header
  .row.collapse
    .small-12.columns
      header
        img(src="../img/banner_wrenchBar.jpg")

block content
  #paper
    img(src="../img/paperEdge1.png")
  .row#wrenchbarContent
    .small-12.columns
      h2.headerTitle
        | WrenchBar >>
        span
          |  Greasings N Salivations!
  .row
    .small-12.columns
      .row
        .small-12.medium-4.columns
          img.wrenchBarImage1.th(src="../img/wrench.jpg")
        .small-12.medium-7.columns
          p.wrenchBarCaption1
            | Tooling all manner of human powered contraptions, one thing stays the same: The machine needs an experienced human touch - and bringing it with all thre right twists and torsions, that takes a lifetime of cylcing love. It could even be that Barry White is playing in the background.
          p.wrenchBarCaption2
            | We have full time Shimano certified mechanics. All in all, we have a combined experience of 80 years in the bicycle industry. Labor rates generally run at $65/hour. Free installations when bought at time of purchase. See our menu for more details!
        .hide-for-small.medium-1.columns
  #paper2
    img(src="../img/paperEdge1.png")

  .row#wrenchbarContent2
    .small-11.medium-11.small-centered.end.columns.panel
      .row
        .small-12.large-10.medium-11.medium-centered.columns.end
          h1.wrenchBarMenu WrenchBar Menu
          br
          br
          br
          br
          h2.wrenchBarCategory Combo Platters ~ Tune-ups for riders of all levels
          #tuneups
            p.tuneup
              span
                | First Timer Tune-up:
              br
              | Safety check, inspect and tighten all bolts, inflate tires to recommended PSI, lubricate chain.  $15
            p.tuneup
              span
                | Beginner Tune-up:
              br
              | Adjust everything (headset, bottom bracket, front/rear drailleurs and brakes), bolt check, inflate tires, lubricate moving parts, wipe down frame, and safety inspection. $40
            p.tuneup
              span
                | Sport Tune-up:
              br
              | Everything in the Beginner Tune-up plus truing both wheels. $70
            p.tuneup
              span
                |  Expert Tune-up:
              br
              | For those who need a little more attention. We'll remove the drive train, scrub it in the parts cleaner, install new cables and housing and, of course, adjust all moving parts. $125
            p.tuneup
              span
                | Pro Build:
              br
              | Build bike from frame up. $175
            p.tuneupNote
              | Prices Do Not Include Parts

      .row
        .small-12.large-10.medium-12.medium-centered.columns.end
          h2.wrenchBarCategory Ala Carte ~ adjustments
          table
            tr
              td Derailleur
              td $5-10
            tr
              td Brake
              td $5-10
            tr
              td Headset
              td $5-10
            tr
              td Front Hub
              td $7
            tr
              td Rear Hub
              td $10
            tr
              td Bottom Bracket
              td $10-15
            tr
              td Quick release & bolt on
              td $6
            tr
              td(colspan="2") Blow Outs ~ tube not included

          h2.wrenchBarCategory Installations ~ parts not included
          table
            tr
              th(colspan="2") Derailleur
            tr
              td Front
              td $15
            tr
              td Rear
              td $12
            tr
              th(colspan="2") Brakes
            tr
              td Cantilever, v-brake or rod
              td $20
            tr
              td Hydro Disc
              td $40
            tr
              th(colspan="2") Accessories
            tr
              td Rear Racks
              td $10-20
            tr
              td Fenders
              td $15-30
            tr
              td Lights
              td $5-15
            tr
              td Tires
              td $10
            tr
              td Seats
              td $5
            tr
              td Misc
              td 5 & Up









    include ./partials/_wrenchbarSubContent