.row
  .small-6.large-6.columns
    ul.slider(data-orbit)
      li
        a.th(href="http://www.google.com")
          img(src="./img/CycleOps.jpg")
        .orbit-caption
            | Caption One
      li
        a.th(href="http://www.google.com")
          img(src="./img/Winter30.jpg")
        .orbit-caption
            | Caption Two
      li
        a.th(href="http://www.google.com")
          img(src="./img/Winter25.jpg")
        .orbit-caption
            | Caption Three