.row
  .small-12.medium-12.columns
      .row
        .small-12.medium-11.medium-centered.columns
          .row
            .small-12.medium-4.columns
              .sub_content
                img(src="/img/bike.png")
                h3 Goods
                section
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
            .small-12.medium-4.columns
              .sub_content
                img(src="/img/globe.png")
                h3 Location
                section
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
            .small-12.medium-4.columns
              .sub_content
                img(src="/img/Calendar.png")
                h3 Events
                section
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.

.row
  .small-12.medium-12.columns
      .row
        .small-12.medium-11.medium-centered.columns
          .row
            .small-12.medium-4.columns
              .sub_content
                img(src="/img/wrench.png")
                h3 The Shop
                section
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
            .small-12.medium-4.columns
              .sub_content
                img(src="/img/earth_mail.png")
                h3 Contact Us!
                section
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
            .small-12.medium-4.columns
              .sub_content
                img(src="/img/facebook.png")
                h3 Social
                section
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.




