extends /layouts/_default

block offers
  .row.collapse
    .small-12.columns
      #saleLogo
        img(src="/img/deal.png")

  .row.collapse
    .small-12.columns
      ul.slider(data-orbit)
        li
          img(src="./img/sale3.jpg")
          .orbit-caption
              | Caption One
        li
          img(src="./img/sale2.jpg")
          .orbit-caption
              | Caption Two
        li
          img(src="./img/sale1.jpg")
          .orbit-caption
              | Caption Three

block content
  include /layouts/default-partials/_subContent
  include /layouts/default-partials/_subContent
  include /layouts/default-partials/_subContent
  include /layouts/default-partials/_subContent
  include /layouts/default-partials/_subContent
  include /layouts/default-partials/_subContent
  include /layouts/default-partials/_subContent