extends /layouts/_default_index
block content
  .row#topContent
    .small-12.columns
      .row
        .small-12.columns
          .row.panel
            .small-12.medium-8.columns
              img.th(src="http://lorempixel.com/900/400/cats/1")
            .small-12.medium-4.columns
              h2
                | East Nasty's Go To Cycle Shop
              p
                | Eastside Cycles is a family owned full service bicycle shop. We sell, rent, and repair bicycles. We've been known to ride them occasionally too! Visit us right in the middle of 5 Points.
              .button.large.radius
                | Find Us!

  .row
    .small-12.medium-12.medium-centered.columns
      .row
        .small-12.medium-4.columns
          .sub_content.panel
            img(src="/img/globe.png")
            h3 Goods
            section
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
        .small-12.medium-4.columns
          .sub_content.panel
            img(src="/img/globe.png")
            h3 Location
            section
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
        .small-12.medium-4.columns
          .sub_content.panel
            img(src="/img/globe.png")
            h3 Events
            section
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe neque pariatur explicabo repudiandae ipsa sit possimus molestiae doloribus. Animi, praesentium corporis harum explicabo impedit.
