extends /layouts/_default
block content
  .row
    .small-12.medium-6.columns#map
      #iframeContainer
        iframe(width="100%", height="100%",frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDO_h4pHE3bhVU8aGQuiB-gH1Xmbv-kPVs&q=East+Side+Cycles,Nashville+TN")

    .small-12.medium-6.columns#contactContentAnchor
      .row
        .small-12.columns.panel#contactContent
          #lowdownLogo
            img(src="/img/Logo_Horizontal.png")
          #contactInfo
            ul.pricing-table
              li.title Address
              li.bullet-item 103 11th Avenue South Nashville, TN 37206
              li.title Hours
              li.bullet-item 11-7pm Mon - Fri, 10-6pm Sat, Closed Sun
              li.title Phone
              li.bullet-item (615)-212-1446
              li.title Email
              li.bullet-item matt.k.wiser@gmail.com

  .row
    .small-12.medium-6.columns
      .row
        .small-12.columns.panel
          #lowdownTeam
            a.th
              img(src="http://lorempixel.com/600/300/sports/3")
          p
            |We repair, sell and rent bicycles. Doing whatever it takes to keep the rubber side down.
          p
            |We are a neighborhood shop. Located especially for you in the historic five points of East Nashville, a stones throw from the downtown. Come and hang out at the mechanics bar while your bike gets repaired, lounge with us watching the Tour de France, or use our internet to download your email before going on our group cruiser ride.
          p
            |We are a place for people who love biking. Whether we are vein-popping racing-types, eco-friendly commuters, or casual riders, we all share a passion for cycling. Not only do we have what you would expect from any respectable bike shop, we also carry bike art and other paraphernalia so that you can surround yourself with bike love.
          p
            |We are family-friendly. We lead family rides for those with tagalongs, trailers and child seats. We stock plenty of toys to occupy little ones and of course, a diaper-changing station. Don't you just hate it when places don’t have those?
          p
            |We are family-owned. And we’ve got great folks working with us!
    .small-12.medium-6.columns
      .row
        .small-12.columns.panel
          h1 Bios



  include /layouts/default-partials/_subContent