!!! 5
//if IE 8
    <html class="lt-ie9">
// [if gt IE 8] <!
html(lang="en")
  // <![endif]
  include default-partials/_html-header
  body
    .row.collapse
      .small-12.columns
        .row.collapse
          .small-12.columns
            include default-partials/_navbar_index
        .row.collapse#nav_hoist
          .small-12.columns
            .hide-for-small
              #headWrap(data-0="transform:translateY(0%)", data-350="transform:translateY(-50%)")
                include default-partials/_header
          .small-12.columns
            #mainWrap
              block content
              include default-partials/_footer
