.row.full-width
  .small-12.columns
    header
      img(src="img/Logo_Horizontal_small.png")
    nav(data-topbar).top-bar
      ul.title-area
        li.name
          h1
            a(href='#')
        li.toggle-topbar.menu-icon
          a(href='#') Menu
      section.top-bar-section
        ul.left
          li.has-dropdown
            a(href='#') Dropdown
            ul.dropdown
              li
                a(href='#') Dropdown Link #1
              li
                a(href='#') Dropdown Link #1
              li
                a(href='#') Dropdown Link #1