// Footer
.row.collapse
  .small-12.columns
    footer
      small
        |(c)2014 Wiser Web Design

// build:js /scripts/main.js

//- script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3fyxbe5LkY3-EkWdwHDFREhHWXK2i1hM&sensor=false")
script(src='/bower_components/lodash/dist/lodash.min.js')
script(src='/bower_components/jquery/jquery.js')
script(src='/bower_components/foundation/js/vendor/fastclick.js')
script(src='/bower_components/foundation/js/foundation.min.js')
script(src='/bower_components/skrollr/dist/skrollr.min.js')
script(src='/scripts/main.js')


