.row.collapse
  .small-12.columns
    #parallax_container
      #parallax
        #parallax_content_1
          img#headerImage1(src="/img/eastSideKopf_1.jpg")
        #parallax_content_2
          img#headerImage2(src="/img/eastSideKopf_2.jpg")
        #parallax_content_3
          img#headerImage3(src="/img/eastSideKopf_3.jpg")
        #parallax_content_4
        #parallax_content_5






