.row.collapse
  .small-12.columns
    #parallax_container
      #parallax
        #parallax_content_1
        #parallax_content_2
        #parallax_content_3
        #parallax_content_4

//-(data-top="background-image: linear-gradient(45deg, rgba(35,81,84,.9) 0%, rgba(61,24,51,.5) 50%, rgba(198,45,61,.5) 100%);", data-400="background-image: linear-gradient(120deg, rgba(35,81,84,.9) 0%, rgba(61,24,51,.5) 50%, rgba(61,24,51, .5) 100%);")



















//-- Header Rev 1, goes inside parallax content
      .divider_container_top
        .mini_divider_top(data-0="transform:translate(0%,0%);", data-400="transform:translate(-1000%, 0%);")
        .mini_divider_top(data-0="transform:translate(0%,0%);", data-400="transform:translate(1000%, 0%);")
      #logo
      #glyph(data-0="opacity:.7;transform[bounce]:translate(0%, 0%)", data-270="opacity:0;transform[bounce]:translate(0%, 100%)")
      .divider_container_bottom
        .mini_divider_bottom(data-0="transform:translate(0%,0%);", data-400="transform:translate(-1000%, 0%);")
        .mini_divider_bottom(data-0="transform:translate(0%,0%);", data-400="transform:translate(1000%, 0%);")





