head
  title east-side-cycles
  meta(charset='UTF-8')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(content='', name='description')
  meta(content='', name='author')
  meta(content='3 days', name='revisit-after')
  script(src="/bower_components/foundation/js/vendor/modernizr.js")

  // build:css /styles/main.css
  link(href='/styles/main.css', rel='stylesheet')
  // endbuild