.row.collapse
  .sticky
    nav.top-bar(data-topbar, data-0="opacity: 0", data-200="opacity: 1")
      ul.title-area
        li.name
          h1: a(href="/") East Side Cycles
        li.toggle-topbar.menu-icon
          a(href="#") Menu
      section.top-bar-section
        <!--Right Nav Section-->
        ul.left
          li.divider
          li
            a(href="/contact.html") Find Us!
          li.divider