.sticky
  nav.top-bar(data-topbar, data-80="opacity:0;", data-425="opacity:1;")
    ul.title-area
      li.name
        h1: a(href="#") East Side Cycles
      li.toggle-topbar.menu-icon
        a(href="#") Menu
    section.top-bar-section
      <!--Right Nav Section-->
      ul.left
        li.has-dropdown
          a(href="#") Dropdown Button
          ul.dropdown
            li: a(href="#") Dropdown link #1